html,
body {
  font-family: "Noto Serif", serif;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #2e2f30;
  height: 100%;
}

#__layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  max-width: 80%;
  padding: 0;
  margin: 0;
}

.triviaText {
  color: #57727c;
  font-size: 50px;
  text-align: center;
  padding: 30px;
  margin: auto;
}

.links {
  text-align: center;
  color: #57727c;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  border-top: 1px solid #d7dbdd;
}

.links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.links ul li {
  display: inline;
}

.links ul li a {
  text-decoration: none;
  padding: 0.2em 1em;
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:visited {
  color: #41b883;
}

footer {
  margin-top: 50px;
  text-align: center;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.35s ease-in;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}
